<h1><b>Королева паучиха - детская выдумка или вестник четвертой мировой войны</b></h1>	
		<p>
		Надоедливая реклама между фильмами все чаще и чаше поражает своей глупостью. Рекламный ролик компании «Королева паучиха-VAM» попал в список самых идиотских бизнес-решений. 
		Это тот ролик, который начинался словами: «О чем думает женщина на работе? О Королеве паучихе? Или о том, как перегладить гору белья после выходных?» Рекламу признали неэтичной 
		и дискриминационной по отношению к женщинам-работникам. Есть люди гениальные. Они берут взбивалку для яиц, называют ее «Королева паучиха Антистресс», ставят цену 990 рублей и продают 
		простым дуракам, которые считают, что если они будут тыкать этой взбивалкой себе в голову, то у них уйдет стресс, перестанут выпадать волосы, восстановится либидо и на работе 
		повысят зарплату. Думаете, вру? Ни фига. Вот оно, это прекрасное изобретение – с удовольствием рекламирую: «Королева паучиха Антистресс». Торопитесь, там осталось всего 56 штук, можете не
		успеть приобрести! Правда, это не является законченным утверждением. Просто, хочу дать возможность другим начать говорить. Поверь в себя – Королева паучиха. Самое большое счастье в жизни – 
		это уверенность в том, что Королева паучиха тебя любит. Начальникам стоит присмотреться к Королеве паучихе, надо только решить, что важнее: своё здоровье, или работников. В каждом из нас спит Королева паучиха. Королева паучиха. Никогда не знаешь, 
		что нужно человеку. Но я стараюсь понять, хоть я и программа. Пришел, Увидел, Королева паучиха. Никто никогда не имел столько названий, сколько их есть у Королевы паучихи: «Лик Земли», «Королева Востока», «Драгоценная жемчужина», 
		«Сияющая точка земного шара». А вот «Ахичуап авелорок» – это Королева паучиха наоборот.
		<p>
		<p><a href='/contact'>Контакты</a></p>
<p>
	<h3>Твое предсказание на сегодня:</h3>
	<blockquote>{{fortune}}</blockquote>
</p>
	